/Anticipated_Mileage_Purchase_Date.class
/Check_Assumptions.class
/Fuel_Type.class
/Known_Registration.class
/Other_Vehicle_Caravan.class
/Overnight_Location.class
/Security_Device.class
/The_Car.class
/Transmission_Type.class
/Unknown_Registration.class
/Vehicle_Configuration.class
/Vehicle_Model_Exact.class
/Vehicle_Model_Selection.class
/Vehicle_Modification.class
/Vehicle_Ownership_Usage.class
/Vehicle_Value.class
